html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body {
  margin:0; 
  padding:0; 
  height:100%; 
  font-family: 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', 'Segoe WP', 'Tahoma, Arial, sans-serif';
 }


#reportContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: none; /* Just to visualize the extent 

    /*height: 100%;
    width: 100%;
    max-width: 3000px;
    max-height:2000px;*/
}

#bt1 {
  position: absolute;
  width: 80px;
  height: 30px;
  left: 15px;
  top: 15px;
  opacity: 0.8;
  background-color: white; 
  color: black; 
  border: none;
}

#bt2 {
  position: absolute;
  border: none;
  width: 80px;
  height: 30px;
  left: 20px;
  top: 20px;
  opacity: 0.3;
  background-color: white; 
  color: black; 
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  opacity: 0.3;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

#bt2:hover {
  background-color: #008CBA;
  color: white;
}


#reportContainer > button {
  opacity: 0.3;
  position:relative;
   float: left;
  right:10px;
  bottom:100%;
  transition: 0.5s;
}
#reportContainer > button {
  opacity: 1;
}  


#dashboardContainer {
    height: 932px;
    width: 100%;
    max-width: 1320px;
}

#dashboardContainer iframe{
    border: none;
}

#buttonsWrapper {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    cursor: pointer;
}

#buttonsWrapper a {
    background-color: rgb(36, 169, 225);
    border: none;
    color: white;
    padding: 5px 30px;
    margin: 5px;
    width: 200px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

#buttonsWrapper a:hover {
   font-size: 120%;
}

#tileContainer {
    width: 400px;
    height: 350px;
}

.infoBox {
    margin-top: 30px;
}